example-iDoor-DIO-to-OPCUA-Server.json
[{"id":"df141e88.5b543","type":"tab","label":"OPC UA Server"},{"id":"35ea7712.c7a8f8","type":"debug","z":"df141e88.5b543","name":"","active":false,"console":"false","complete":"false","x":870,"y":140,"wires":[]},{"id":"9251fb8b.e461a8","type":"OpcUa-Server","z":"df141e88.5b543","port":"53880","name":"OPC-UA Server","endpoint":"UA/SimpleNodeRedServer","x":680,"y":140,"wires":[["35ea7712.c7a8f8"]]},{"id":"e4352887.39ba98","type":"inject","z":"df141e88.5b543","name":"Add DI08","topic":"ns=1;s=DI08;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":60,"wires":[["9251fb8b.e461a8"]]},{"id":"44962e5.56cc5d","type":"inject","z":"df141e88.5b543","name":"Add DI09","topic":"ns=1;s=DI09;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":100,"wires":[["9251fb8b.e461a8"]]},{"id":"eafefc15.1a8d9","type":"inject","z":"df141e88.5b543","name":"Add DI10","topic":"ns=1;s=DI10;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":140,"wires":[["9251fb8b.e461a8"]]},{"id":"b0521ebe.1b9c3","type":"inject","z":"df141e88.5b543","name":"Add DI11","topic":"ns=1;s=DI11;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":180,"wires":[["9251fb8b.e461a8"]]},{"id":"bdc649cf.1745e8","type":"inject","z":"df141e88.5b543","name":"Add DI12","topic":"ns=1;s=DI12;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":220,"wires":[[]]},{"id":"a768c10.bb44a4","type":"inject","z":"df141e88.5b543","name":"Add DI13","topic":"ns=1;s=DI13;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":260,"wires":[["9251fb8b.e461a8"]]},{"id":"c01bd2ef.967e1","type":"inject","z":"df141e88.5b543","name":"Add DI14","topic":"ns=1;s=DI14;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":300,"wires":[["9251fb8b.e461a8"]]},{"id":"6013a955.9d11b8","type":"inject","z":"df141e88.5b543","name":"Add DI15","topic":"ns=1;s=DI15;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":340,"wires":[["9251fb8b.e461a8"]]},{"id":"32fae926.b28a16","type":"inject","z":"df141e88.5b543","name":"Add DI00","topic":"ns=1;s=DI00;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":60,"wires":[["9251fb8b.e461a8"]]},{"id":"7e38a65a.2565f8","type":"inject","z":"df141e88.5b543","name":"Add DI01","topic":"ns=1;s=DI01;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":100,"wires":[["9251fb8b.e461a8"]]},{"id":"1ec770a4.eb6bcf","type":"inject","z":"df141e88.5b543","name":"Add DI02","topic":"ns=1;s=DI02;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":140,"wires":[["9251fb8b.e461a8"]]},{"id":"ee0f7f1d.f323b","type":"inject","z":"df141e88.5b543","name":"Add DI03","topic":"ns=1;s=DI03;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":180,"wires":[["9251fb8b.e461a8"]]},{"id":"272421b0.b1886e","type":"inject","z":"df141e88.5b543","name":"Add DI04","topic":"ns=1;s=DI04;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":220,"wires":[["9251fb8b.e461a8"]]},{"id":"e190ba51.957038","type":"inject","z":"df141e88.5b543","name":"Add DI05","topic":"ns=1;s=DI05;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":260,"wires":[["9251fb8b.e461a8"]]},{"id":"a0495ece.5b034","type":"inject","z":"df141e88.5b543","name":"Add DI06","topic":"ns=1;s=DI06;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":300,"wires":[["9251fb8b.e461a8"]]},{"id":"99959fb0.ff223","type":"inject","z":"df141e88.5b543","name":"Add DI07","topic":"ns=1;s=DI07;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":340,"wires":[["9251fb8b.e461a8"]]},{"id":"69bdbea1.59086","type":"inject","z":"df141e88.5b543","name":"Add DO00","topic":"ns=1;s=DO00;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":400,"wires":[["9251fb8b.e461a8"]]},{"id":"28bd91b2.02d3be","type":"inject","z":"df141e88.5b543","name":"Add DO01","topic":"ns=1;s=DO01;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":440,"wires":[["9251fb8b.e461a8"]]},{"id":"3281f0e7.d17d","type":"inject","z":"df141e88.5b543","name":"Add DO02","topic":"ns=1;s=DO02;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":480,"wires":[["9251fb8b.e461a8"]]},{"id":"482d74a4.da044c","type":"inject","z":"df141e88.5b543","name":"Add DO03","topic":"ns=1;s=DO03;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":520,"wires":[["9251fb8b.e461a8"]]},{"id":"93b8b1d2.9458f","type":"inject","z":"df141e88.5b543","name":"Add DO04","topic":"ns=1;s=DO04;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":560,"wires":[["9251fb8b.e461a8"]]},{"id":"9646089c.10f9f8","type":"inject","z":"df141e88.5b543","name":"Add DO05","topic":"ns=1;s=DO05;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":600,"wires":[["9251fb8b.e461a8"]]},{"id":"46e2b686.f13768","type":"inject","z":"df141e88.5b543","name":"Add DO06","topic":"ns=1;s=DO06;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":640,"wires":[["9251fb8b.e461a8"]]},{"id":"d50c3a0b.7ccc68","type":"inject","z":"df141e88.5b543","name":"Add DO07","topic":"ns=1;s=DO07;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":680,"wires":[["9251fb8b.e461a8"]]},{"id":"ddc1b09c.8129f","type":"At iDoorDIO info","z":"df141e88.5b543","description":"PCM-27D24DI,BID#2","name":"","x":340,"y":780,"wires":[["6b5a3182.302e3"]]},{"id":"765610fd.c0e66","type":"inject","z":"df141e88.5b543","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"15","x":150,"y":780,"wires":[["ddc1b09c.8129f"]]},{"id":"6b5a3182.302e3","type":"function","z":"df141e88.5b543","name":"format to opc","func":"var DI = [];\nvar DO = [];\n\nfor(i=0; i<msg.payload[0].DI.length; i++)\n{\n  DI.push({\"payload\": {\"messageType\": \"Variable\", \"variableName\": \"DI\" + i.toString().padStart(2, \"0\"), \"variableValue\": msg.payload[0].DI[i]}});\n}\n\nfor(i=0; i<msg.payload[1].DO.length; i++)\n{\n  DO.push({\"payload\": {\"messageType\": \"Variable\", \"variableName\": \"DO\" + i.toString().padStart(2, \"0\"), \"variableValue\": msg.payload[1].DO[i]}});\n}\n\nreturn [DI[0],  //DI00\n        DI[1],   //DI01\n        DI[2],   //DI02\n        DI[3],   //DI03\n        DI[4],   //DI04\n        DI[5],   //DI05\n        DI[6],   //DI06\n        DI[7],   //DI07\n        DI[8],   //DI08\n        DI[9],   //DI09\n        DI[10],   //DI10\n        DI[11],   //DI11\n        DI[12],   //DI12\n        DI[13],   //DI13\n        DI[14],   //DI14\n        DI[15],   //DI15\n        DO[0],   //DO00\n        DO[1],  //DO01\n        DO[2],  //DO02\n        DO[3],  //DO03\n        DO[4],  //DO04\n        DO[5],  //DO05\n        DO[6],  //DO06\n        DO[7]   //DO07\n        ];","outputs":24,"noerr":0,"x":550,"y":640,"wires":[["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"],["9251fb8b.e461a8"]]}]
