example-iDoor-DIO-to-OPCUA-Server.json
[{"id":"f549d93d.368508","type":"tab","label":"OPC UA Server"},{"id":"46a9b821.7273f8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:62544/Quickstarts/AlarmConditionServer","login":false},{"id":"2d415f93.6d60d","type":"debug","z":"f549d93d.368508","name":"","active":false,"console":"false","complete":"false","x":870,"y":140,"wires":[]},{"id":"71fd6d41.7c6f04","type":"OpcUa-Server","z":"f549d93d.368508","port":"53880","name":"OPC-UA Server","endpoint":"UA/SimpleNodeRedServer","x":680,"y":140,"wires":[["2d415f93.6d60d"]]},{"id":"5072321a.4beadc","type":"inject","z":"f549d93d.368508","name":"Add DI08","topic":"ns=1;s=DI08;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":60,"wires":[["71fd6d41.7c6f04"]]},{"id":"aa441a58.71ae98","type":"inject","z":"f549d93d.368508","name":"Add DI09","topic":"ns=1;s=DI09;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":100,"wires":[["71fd6d41.7c6f04"]]},{"id":"f697a602.65f5c8","type":"inject","z":"f549d93d.368508","name":"Add DI10","topic":"ns=1;s=DI10;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":140,"wires":[["71fd6d41.7c6f04"]]},{"id":"ead094c.804ac68","type":"inject","z":"f549d93d.368508","name":"Add DI11","topic":"ns=1;s=DI11;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":180,"wires":[["71fd6d41.7c6f04"]]},{"id":"8d5b5aeb.35b818","type":"inject","z":"f549d93d.368508","name":"Add DI12","topic":"ns=1;s=DI12;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":220,"wires":[[]]},{"id":"19a4d535.8be9bb","type":"inject","z":"f549d93d.368508","name":"Add DI13","topic":"ns=1;s=DI13;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":260,"wires":[["71fd6d41.7c6f04"]]},{"id":"91de780a.b19cd8","type":"inject","z":"f549d93d.368508","name":"Add DI14","topic":"ns=1;s=DI14;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":300,"wires":[["71fd6d41.7c6f04"]]},{"id":"179fd540.b2d85b","type":"inject","z":"f549d93d.368508","name":"Add DI15","topic":"ns=1;s=DI15;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":280,"y":340,"wires":[["71fd6d41.7c6f04"]]},{"id":"c7b4dce9.32f19","type":"inject","z":"f549d93d.368508","name":"Add DI00","topic":"ns=1;s=DI00;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":60,"wires":[["71fd6d41.7c6f04"]]},{"id":"1439cfbf.cd93b","type":"inject","z":"f549d93d.368508","name":"Add DI01","topic":"ns=1;s=DI01;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":100,"wires":[["71fd6d41.7c6f04"]]},{"id":"28b8d3f7.4299ec","type":"inject","z":"f549d93d.368508","name":"Add DI02","topic":"ns=1;s=DI02;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":140,"wires":[["71fd6d41.7c6f04"]]},{"id":"97d61757.165488","type":"inject","z":"f549d93d.368508","name":"Add DI03","topic":"ns=1;s=DI03;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":180,"wires":[["71fd6d41.7c6f04"]]},{"id":"7322971.b232568","type":"inject","z":"f549d93d.368508","name":"Add DI04","topic":"ns=1;s=DI04;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":220,"wires":[["71fd6d41.7c6f04"]]},{"id":"1a258116.69c8ff","type":"inject","z":"f549d93d.368508","name":"Add DI05","topic":"ns=1;s=DI05;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":260,"wires":[["71fd6d41.7c6f04"]]},{"id":"f53fa9d0.5adec8","type":"inject","z":"f549d93d.368508","name":"Add DI06","topic":"ns=1;s=DI06;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":300,"wires":[["71fd6d41.7c6f04"]]},{"id":"429b4f5b.bf85","type":"inject","z":"f549d93d.368508","name":"Add DI07","topic":"ns=1;s=DI07;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":340,"wires":[["71fd6d41.7c6f04"]]},{"id":"6e54171.efa0ce8","type":"inject","z":"f549d93d.368508","name":"Add DO00","topic":"ns=1;s=DO00;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":400,"wires":[["71fd6d41.7c6f04"]]},{"id":"27d19e1e.d53852","type":"inject","z":"f549d93d.368508","name":"Add DO01","topic":"ns=1;s=DO01;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":440,"wires":[["71fd6d41.7c6f04"]]},{"id":"178b446e.678bdc","type":"inject","z":"f549d93d.368508","name":"Add DO02","topic":"ns=1;s=DO02;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":480,"wires":[["71fd6d41.7c6f04"]]},{"id":"ed71f3ba.68f1d","type":"inject","z":"f549d93d.368508","name":"Add DO03","topic":"ns=1;s=DO03;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":520,"wires":[["71fd6d41.7c6f04"]]},{"id":"9307ead4.673898","type":"inject","z":"f549d93d.368508","name":"Add DO04","topic":"ns=1;s=DO04;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":560,"wires":[["71fd6d41.7c6f04"]]},{"id":"f7f45713.0cee68","type":"inject","z":"f549d93d.368508","name":"Add DO05","topic":"ns=1;s=DO05;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":600,"wires":[["71fd6d41.7c6f04"]]},{"id":"dce77570.4d0e68","type":"inject","z":"f549d93d.368508","name":"Add DO06","topic":"ns=1;s=DO06;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":640,"wires":[["71fd6d41.7c6f04"]]},{"id":"ebf96581.e8ab48","type":"inject","z":"f549d93d.368508","name":"Add DO07","topic":"ns=1;s=DO07;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":290,"y":680,"wires":[["71fd6d41.7c6f04"]]},{"id":"251a6d89.f2c522","type":"At iDoorDIO info","z":"f549d93d.368508","description":"PCM-27D24DI,BID#2","name":"","x":340,"y":780,"wires":[["76d0a2a6.d6083c"]]},{"id":"acf49fa7.40bb9","type":"inject","z":"f549d93d.368508","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"15","x":150,"y":780,"wires":[["251a6d89.f2c522"]]},{"id":"76d0a2a6.d6083c","type":"function","z":"f549d93d.368508","name":"format to opc","func":"var DI = [];\nvar DO = [];\n\nDI.forEach(function(item, index, array) {\n  DI.push({\"payload\": {\"messageType\": \"Variable\", \"variableName\": \"DI\" + i.toString().padStart(2, \"0\"), \"variableValue\": msg.payload[0].DI[i]}});\n});\n\nfor(i=0; i<msg.payload[1].DO.length; i++)\n{\n  DO.push({\"payload\": {\"messageType\": \"Variable\", \"variableName\": \"DO\" + i.toString().padStart(2, \"0\"), \"variableValue\": msg.payload[1].DO[i]}});\n}\n\nreturn [DI[0],  //DI00\n        DI[1],   //DI01\n        DI[2],   //DI02\n        DI[3],   //DI03\n        DI[4],   //DI04\n        DI[5],   //DI05\n        DI[6],   //DI06\n        DI[7],   //DI07\n        DI[8],   //DI08\n        DI[9],   //DI09\n        DI[10],   //DI10\n        DI[11],   //DI11\n        DI[12],   //DI12\n        DI[13],   //DI13\n        DI[14],   //DI14\n        DI[15],   //DI15\n        DO[0],   //DO00\n        DO[1],  //DO01\n        DO[2],  //DO02\n        DO[3],  //DO03\n        DO[4],  //DO04\n        DO[5],  //DO05\n        DO[6],  //DO06\n        DO[7]   //DO07\n        ];","outputs":24,"noerr":0,"x":550,"y":640,"wires":[["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"],["71fd6d41.7c6f04"]]}]